<!-- 使用者個人首頁畫面 -->
<!-- 卡，可以加個用戶頭像，然後用 src="/static/img/{{account}}" 引入-->
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!-- 這段 mata 的意思是把網站呈現的寬度設定成和裝置的寬度一樣（如果裝置的寬度是320px，則網站的寬度也設成320px），而不是把960px的網頁內容所小成320px來呈現；initial-scale=1的意思，就是不要縮放網頁的意思。 -->
        <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/userHomePage.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/static/js/search.js"></script>
        <title>{{account}}'s Home Page</title>

    </head>
    <body>

        <div class="wrapper">   <!-- 所有 body 內容都放在這邊除了 footer 以外，是為了 footer 置中加的 class-->
            
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <img src="/static/img/AI_LOGO.png" style="width: 70px; height: 70px;"></img>
                    <p class="navbar-brand" style="margin: 10px auto; padding-left: 30px; padding-right: 30px;">{{account}}'s Home Page</p>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- 卡，這邊這個 700px 看到時候能不能改成 % 數 -->
                    <div style="width: 680px;"></div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item" style="padding-left: 20px; padding-right: 20px;"><a class="nav-link" aria-current="page" href="{{ url_for('showGuidePage') }}">Website Guide Page</a></li>
                            <li class="nav-item" style="padding-left: 20px; padding-right: 20px;"><a class="nav-link" href="https://sites.google.com/site/yitingchen0524/hcis-lab?authuser=0">Lab Website</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- -------------------------------------------------------導覽列清單------------------------------------------------------------- -->
            <nav class="usernav">
                <ul class="flex-nav">
                    <li><a href="{{ url_for('showUserPage',account = account,nav='searchPage') }}" >SearchPage</a></li>
                    <li><a href="{{ url_for('showUserPage',account = account,nav='search_result', latest_search_results=latest_search_results) }}">Latest Search Result</a></li>
                    <li><a href="{{ url_for('showUserPage',account = account,nav='cart') }}">Cart</a></li>
                    <li><a href="{{ url_for('showUserPage',account = account,nav='setting') }} ">Setting</a></li>
                    <li><a href= "#">Logout</a></li>
                </ul>
            </nav>
            <br>
            
            <div class="go-top">
                <a href="#">GO TOP</a>
            </div>
            
            
            <!----------------------------------------------------- searchPage-------------------------------------------------------------------------------    -->
            {% if nav == 'searchPage' %}
            <div class="flex-container">    
                <!-- 這邊是選 road type 的最左側-->            
                <div class="d-flex align-items-start" style=" height: 400px; flex:7; position: relative; "> <!-- width 剩下的 20% 給 chosen tags 30% 給 history-->
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link disabled" role="tab">Road Topology</button>
                        <button class="nav-link active" id="v-pills-4way-intersection-tab"  data-bs-toggle="pill" data-bs-target="#v-pills-4way-intersection" type="button" role="tab" aria-controls="v-pills-4way-intersection" aria-selected="true">4way-intersection</button>
                        <button class="nav-link" id="v-pills-3way-intersection-1-tab"  data-bs-toggle="pill" data-bs-target="#v-pills-3way-intersection-1" type="button" role="tab" aria-controls="v-pills-3way-intersection-1" aria-selected="false">3way-intersection-1</button>
                        <button class="nav-link" id="v-pills-3way-intersection-2-tab"data-bs-toggle="pill" data-bs-target="#v-pills-3way-intersection-2" type="button" role="tab" aria-controls="v-pills-3way-intersection-2" aria-selected="false">3way-intersection-2</button>
                        <button class="nav-link" id="v-pills-3way-intersection-3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-3way-intersection-3" type="button" role="tab" aria-controls="v-pills-3way-intersection-3" aria-selected="false">3way-intersection-3</button>
                        <button class="nav-link" id="v-pills-3way-straight-tab" data-bs-toggle="pill" data-bs-target="#v-pills-3way-straight" type="button" role="tab" aria-controls="v-pills-3way-straight" aria-selected="false">3way-straight</button>
                        <button class="nav-link" id="v-pills-4way-straight-tab" data-bs-toggle="pill" data-bs-target="#v-pills-4way-straight" type="button" role="tab" aria-controls="v-pills-4way-straight" aria-selected="false">4way-straight</button>
                        <button class="nav-link" id="v-pills-5way-straight-tab" data-bs-toggle="pill" data-bs-target="#v-pills-5way-straight" type="button" role="tab" aria-controls="v-pills-5way-straight" aria-selected="false">5way-straight</button>
                        <button class="nav-link" id="v-pills-Roundabout-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Roundabout" type="button" role="tab" aria-controls="v-pills-Roundabout" aria-selected="false">Roundabout</button>
                    </div>
                    
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-4way-intersection" role="tabpanel" aria-labelledby="v-pills-4way-intersection-tab">
                            <img src="/static/img/4-way-E.png" alt="not found" style="width: 450px; height: 270px; position: absolute; top: 20%; left: 35%;">   
                        </div>
                        <div class="tab-pane fade" id="v-pills-3way-intersection-1" role="tabpanel" aria-labelledby="v-pills-3way-intersection-1-tab">
                            <img src="/static/img/3way-1-E.png" alt="not found" style="width: 450px; height: 270px; position: absolute; top: 20%; left: 35%;"> 
                        </div>
                        <div class="tab-pane fade" id="v-pills-3way-intersection-2" role="tabpanel" aria-labelledby="v-pills-3way-intersection-2-tab">
                            <img src="/static/img/3way-2-E.png" alt="not found" style="width: 405px; height: 315px; position: absolute; top: 15%; left: 35%;">   
                        </div>
                        <div class="tab-pane fade" id="v-pills-3way-intersection-3" role="tabpanel" aria-labelledby="v-pills-3way-intersection-3-tab">
                            <img src="/static/img/3way-2-E.png" alt="not found" style="width: 405px; height: 315px; position: absolute; top: 15%; left: 35%;">   
                        </div>
                        <div class="tab-pane fade" id="v-pills-3way-straight" role="tabpanel" aria-labelledby="v-pills-3way-straight-tab">
                            <img src="/static/img/straight-3-E.png" alt="not found" style="width: 180px; height: 230px; position: absolute; top: 20%; left: 50%;">   
                        </div>
                        <div class="tab-pane fade" id="v-pills-4way-straight" role="tabpanel" aria-labelledby="v-pills-4way-straight-tab">
                            <img src="/static/img/straight-4-left-E.png" alt="not found" style="width: 220px; height: 230px; position: absolute; top: 20%; left: 30%;">   
                            <img src="/static/img/straight-4-right-E.png" alt="not found" style="width: 220px; height: 230px; position: absolute; top: 20%; left: 60%;">   
                        </div>
                        <div class="tab-pane fade" id="v-pills-5way-straight" role="tabpanel" aria-labelledby="v-pills-5way-straight-tab">
                            <img src="/static/img/straight-5-E.png" alt="not found" style="width: 250px; height: 230px; position: absolute; top: 20%; left:  50%;">   
                        </div>
                        <div class="tab-pane fade" id="v-pills-Roundabout" role="tabpanel" aria-labelledby="v-pills-Roundabout-tab">
                            <img src="/static/img/roundabout-E.png" alt="not found" style="width: 450px; height: 270px; position: absolute; top: 20%; left: 35%;">   
                        </div>
                    </div>
                </div>
                <!-- 這邊是選 tag 的按鈕-->
                <div style="flex: 2;  position: relative;">
                    <div class="dropend" style="padding: 3px 0px 3px 0px; position: absolute; top:22%;">
                        <button id="object" style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="buttom" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Moving Object
                        </button>
                        <ul id="object_ul" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a id="Ego"class="dropdown-item active" href="#">Ego Car</a></li>
                            <li><a id="Pedestrian"class="dropdown-item" href="#">Pedestrian</a></li>
                            <li><a id="Car"class="dropdown-item" href="#">Regular Car or Truck</a></li>
                            <li><a id="Bike"class="dropdown-item" href="#">Bike or Motor</a></li>
                        </ul>
                    </div>
                    <div class="dropend"  style="padding: 3px 0px 3px 0px; position: absolute; top: 33%;">
                        <button id="start" style="width: 200px;"class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Start Point
                        </button>
                        <ul id="start_ul" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="#"  onclick="$('#start').val('Z1'); $('#start').html('Z1');">Z1</a></li>
                        </ul>
                        <!-- <p style="border-radius: 5px; width: 200px; height: 40px; background-color: #6c757d; color: #fff; text-align: center; line-height: 40px;">Start Point: Z1</p> -->
                    </div>
                    <div class="dropend" style="padding: 3px 0px 3px 0px; position: absolute; top: 44%;">
                        <button id="end" style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            End Point
                        </button>
                        <ul id="end_ul" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="#" onclick="$('#end').val('Z4'); $('#end').html('Z4');">Z4</a></li>
                            <li><a class="dropdown-item" href="#" onclick="$('#end').val('Z2'); $('#end').html('Z2');">Z2</a></li>
                            <li><a class="dropdown-item" href="#" onclick="$('#end').val('Z3'); $('#end').html('Z3');">Z3</a></li>
                        </ul>
                    </div>
                    <div style="padding: 3px 0px 3px 0px;position: absolute; top: 55%;">
                        <button id="add_tag" type="submit" style="border-radius: 5px; width: 200px; height: 40px; background-color: #6c757d; border: 0px; color: #fff;">Add to target</button>
                    </div>
                </div>
                <div style="flex: 1;"></div>
                <!-- 這邊 Current Targets -->
                <div style="flex: 2;  position: relative;">
                    <div>
                        <!--  style="background: #ccc; border-radius: 5px;" -->
                        <p style="font-weight: bold; font-size: 16px; ">Current Targets</p>
                        <table class="table" style="font-size: 16px;">
                            <!-- background-color: rgba(51,51,51,0.5); border-radius: 5px; -->
                            <thead>
                                <tr>
                                    <th scope="col">object</th>
                                    <th scope="col">start</th>
                                    <th scope="col">end</th>
                                </tr>
                            </thead>
                            <tbody id="current_tag">
                                {% if search_input != undefine and search_input != [] %}
                                {% for tag in search_input['tags'] %}
                                <tr>
                                    <td>{{tag['object']}}</td>
                                    <td>{{tag['start']}}</td>
                                    <td>{{tag['end']}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="flex: 1"></div>
                
                <form action="/search" method="post">
                    <div>
                        <!-- <botton id="search_btn" name="search_btn" type="submit">Search!</botton> -->
                        <input id="search_btn" type="submit" value="Search!" class="form-control" >
                        <input name="search_btn_road_type" id="search_btn_road_type" type="hidden" value="">
                        <input name="search_btn_tags" id="search_btn_tags" type="hidden" value="">
                    </div>
                </form>
            </div> <!-- end of flex-->

            <br><br><br><br>
            <!-- 下面放搜尋紀錄，想用讓他縮在旁邊需要時點開就好，但還弄不出來，11月以後在弄-->
            <h4 style="width:250px; margin:0px auto;">Searching History</h4>
            <br>
            <div style="width:70%; margin:0px auto; right: 100px; ">
                {% if search_historys != [] %}
                    {% for search_history in search_historys %}
                    <div class="card mb-3 row g-0" style="background: #DFE0E2; border: 0px; width: 270px;"> <!--background: #ccc-->
                        <p style="font-weight: bold; font-size: 16px;">#{{loop.index0+1}}#   road_type: {{search_history['road_type']}}</p>
                        <table class="table" style="font-size: 16px; background-color: #A2AEBB ; border-radius: 5px;" ><!--DFE0E2 rgba(51,51,51,0.5); -->
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">object</th>
                                    <th scope="col">start</th>
                                    <th scope="col">end</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tag in search_history['tags'] %}
                                <tr>
                                    <th scope="row">{{loop.index0+1}}</th>
                                    <td>{{tag['object']}}</td>
                                    <td>{{tag['start']}}</td>
                                    <td>{{tag['end']}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                {% else %}
                <p>You have no searching history.</p>
                {% endif %}
            </div>
            {% endif %} <!-- search page 的結尾-->
            
    <!------------------------------------------  search_result--------------------------------------------------------        -->
            
            {% if nav == 'search_result' %}
                {% if latest_search_results != [] %} <!--如果有最後一次的搜尋紀錄的話就顯示-->
                <section>
                    <div class="choose_chosen_video">
                        <button>Add chosen <br> videos to cart</button>
                    </div>
                    <div class="choose_all_video">
                        <button>Add all <br> videos to cart</button>
                    </div>
                    {% for latest_search_result in latest_search_results %}
                    <div class="card mb-3 row g-0">
                        <video class="card-img-top" controls>
                            <source src="{{latest_search_result['rgb_front_video_path']}}" type="video/mp4" />  <!--latest_search_result['variant_video_path']-->
                            <p>Can't not play the video, please change to another browser</p>
                        </video>
                        <div class="card-body">
                            <p class="card-text" style="font-size:13px;">city: <i>Carla town{{latest_search_result['town']}}</i><br>feature: <i>{{latest_search_result['variant']}}</i></p>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal{{latest_search_result['VID']}}">Show Detail</button>
                    </div>
  
                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{latest_search_result['VID']}}" tabindex="-1" aria-labelledby="#Label{{latest_search_result['VID']}}" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Label{{latest_search_result['VID']}}">Video Detail Info</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="flex-container">
                                        <div style="flex: 1;"></div>
                                        <div style="flex: 1.5; text-align:left; height: 250px;">
                                            <br>
                                            <p style ="margin:0;">city: <i>Carla town{{latest_search_result['town']}}</i></p>
                                            <p style ="margin:0;">road type: <i>{{latest_search_result['road_type']}}</i></p>
                                            <p style ="margin:0;">road id: <i>{{latest_search_result['road_id']}}</i></p>
                                            <p style ="margin:0;">actor type: <i>{{latest_search_result['actor_type']}}</i></p>
                                            <p style ="margin:0;">actor action: <i>{{latest_search_result['actor_action']}}</i></p>
                                            <p style ="margin:0;">ego car action: <i>{{latest_search_result['my_action']}}</i></p>
                                            <p style ="margin:0;">feature: <i>{{latest_search_result['variant']}}</i></p>
                                        </div>
                                        <div style="flex: 2;">
                                            <video class="card-img-top" controls style="width: 400px; height: 250px;">
                                                <source src="{{latest_search_result['rgb_front_video_path']}}" type="video/mp4" />
                                                <p>Can't not play the video, please change to another browser</p>
                                            </video>
                                        </div>
                                        <div style="flex: 1;"></div>
                                    </div>
                                    <br><br>
                                    
                                    <h4>Other Perspective of this video</h4><br>
                                    <div class="flex-container" >
                                        <div style="flex: 1;">
                                            <p style="margin:0px;">bird's eye view video</p>
                                            <video class="card-img-top" controls style="width: 300px; height: 230px; ">
                                                <source src="{{latest_search_result['basic_video_path']}}" type="video/mp4" />
                                                <p>Can't not play the video, please change to another browser</p>
                                            </video>
                                        </div>
                                        <div style="flex: 1;">
                                            <p style="margin:0px; ">groundtruth bev video</p>
                                            <video class="card-img-top" controls style="width: 300px; height: 230px;">
                                                <source src="{{latest_search_result['variant_video_path']}}" type="video/mp4" />
                                                <p>Can't not play the video, please change to another browser</p>
                                            </video>
                                        </div>
                                        <div style="flex: 1; ">
                                            <p style="margin:0px; ">predicted bev video</p>
                                            <video class="card-img-top" controls style="width: 300px; height: 230px; ">
                                                <source src="{{latest_search_result['bev_video_path']}}" type="video/mp4" />
                                                <p>Can't not play the video, please change to another browser</p>
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div> <!--modal-content-->
                        </div>
                    </div>
                    {% endfor %}
                </section>  
                {% else %}
                <p>You have no searching result.</p>
                {% endif %}
            {% endif %}
            
            <!-- -----------------------------------------------   cart---------------------------------------------------- -->
            {% if nav == 'cart' %}
                {% if cart != [] %} <!--如果有最後一次的搜尋紀錄的話就顯示-->
                <section>
                    <!-- 卡，這邊要加上一個側邊浮動標籤來顯示當前搜尋的 tags https://c...content-available-to-author-only...n.com/blogtool-floatinglabels/ -->
                    <div class="clear_chosen_videos">
                        <button>Clear chosen <br> videos</button>
                    </div>
                    <div class="clear_all_videos">
                        <button>Clear all videos</button>
                    </div>
                    <div class="export">
                        <button>Export</button>
                    </div>
                    {% for video in cart %}
                    <div class="card mb-3 row g-0" style="max-width: 270px; max-height: 600px; display: inline-block; margin: 20px 30px;">
                        <video class="card-img-top" controls>
                            <source src="{{video['variant_video_path']}}" type="video/mp4" />
                            <p>Can't not play the video, please change to another browser</p>
                        </video>
                        <div class="card-body">
                            <p class="card-text" style="font-size:16px;">basic description: <br>{{video['basic_labal']}}<br>variant: <br>{{video['varient']}}</p>
                        </div>
                        <a href="#" class="btn btn-primary">Show detail</a>
                    </div>
                    {% endfor %}
                </section>    
                {% else %}
                <p style="text-align: center; ">You have nothing in cart.</p>
                {% endif %}
            {% endif %}
            
            
            <!-- 
                setting
            -->
            {% if nav == 'setting' %}
            <div>
                我是設定
            </div>
            {% endif %}
            
        </div> <!-- end of all web contain, end of warpper-->

        <footer>
            Copyright &copy; 2022 HCIS Lab All Rights Reserved
        </footer>
    </body>
</html>
